.about{
    background-color: white;
    width: 700px;
    display: inline-block;
    position: inherit;
}

.about p {
    text-align: center;
    margin: 0;
    padding: 10px;
}

@media screen and (max-width: 950px) {

    .friend-panel {
        display: none;
    }
    .profile-images {
        margin-left: auto ;
        margin-right: auto;
    }

    .friend-list {
        margin-left: auto ;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {

    .friend-list .container {
        max-width: 660px;
        width: 660px;
    }
}